<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Add_user</servlet-name>
        <servlet-class>database.init.Add_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_pet_keeper</servlet-name>
        <servlet-class>servlets.add_pet_keeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_pet_owner</servlet-name>
        <servlet-class>servlets.add_pet_owner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKeeper</servlet-name>
        <servlet-class>servlets.GetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>servlets.UserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditKeeper</servlet-name>
        <servlet-class>servlets.EditKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailExistance</servlet-name>
        <servlet-class>servlets.emailExistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usernameExistance</servlet-name>
        <servlet-class>servlets.usernameExistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_keepers</servlet-name>
        <servlet-class>servlets.show_keepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteKeeper</servlet-name>
        <servlet-class>servlets.deleteKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_owners</servlet-name>
        <servlet-class>servlets.show_owners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>countDogs</servlet-name>
        <servlet-class>servlets.countDogs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>countCats</servlet-name>
        <servlet-class>servlets.countCats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>earnings</servlet-name>
        <servlet-class>servlets.earnings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>countOwners</servlet-name>
        <servlet-class>servlets.countOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>countKeepers</servlet-name>
        <servlet-class>servlets.countKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOwner</servlet-name>
        <servlet-class>servlets.EditOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwner</servlet-name>
        <servlet-class>servlets.GetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoOwner</servlet-name>
        <servlet-class>servlets.UserInfoOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatGPTQueryServlet</servlet-name>
        <servlet-class>servlets.ChatGPTQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingServlet</servlet-name>
        <servlet-class>servlets.ShowBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKeeperInfo</servlet-name>
        <servlet-class>servlets.GetKeeperInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessagesServlet</servlet-name>
        <servlet-class>servlets.GetMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessagesServlet</servlet-name>
        <servlet-class>servlets.SendMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_pet</servlet-name>
        <servlet-class>servlets.Get_pet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Put_pet</servlet-name>
        <servlet-class>servlets.Put_pet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_pet</servlet-name>
        <servlet-class>servlets.New_pet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Id_existance</servlet-name>
        <servlet-class>servlets.Id_existance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_pet</servlet-name>
        <servlet-class>servlets.Delete_pet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewKeepers</servlet-name>
        <servlet-class>servlets.viewKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwnerId</servlet-name>
        <servlet-class>servlets.GetOwnerId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOwner</servlet-name>
        <servlet-class>servlets.deleteOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_keepers_with_owner_filters</servlet-name>
        <servlet-class>servlets.show_keepers_with_owner_filters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>find_ownerID</servlet-name>
        <servlet-class>servlets.find_ownerID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>find_pet_info</servlet-name>
        <servlet-class>servlets.find_pet_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_booking</servlet-name>
        <servlet-class>servlets.add_booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>find_booking_id</servlet-name>
        <servlet-class>servlets.find_booking_id</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingStatus</servlet-name>
        <servlet-class>servlets.UpdateBookingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReviewsServlet</servlet-name>
        <servlet-class>servlets.SendReviewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusOfkeeperId</servlet-name>
        <servlet-class>servlets.StatusOfkeeperId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusOfkeeperIdServlet</servlet-name>
        <servlet-class>servlets.StatusOfkeeperIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>find_owner_lat_lon</servlet-name>
        <servlet-class>servlets.find_owner_lat_lon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetKeeper</servlet-name>
        <url-pattern>/GetKeeper</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPetKeeper</servlet-name>
        <url-pattern>/GetPetKeeper</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_pet_keeper</servlet-name>
        <url-pattern>/add_pet_keeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_pet_owner</servlet-name>
        <url-pattern>/add_pet_owner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/UserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditKeeper</servlet-name>
        <url-pattern>/EditKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailExistance</servlet-name>
        <url-pattern>/emailExistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usernameExistance</servlet-name>
        <url-pattern>/usernameExistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_keepers</servlet-name>
        <url-pattern>/show_keepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteKeeper</servlet-name>
        <url-pattern>/deleteKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_owners</servlet-name>
        <url-pattern>/show_owners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>countDogs</servlet-name>
        <url-pattern>/countDogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>countCats</servlet-name>
        <url-pattern>/countCats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>earnings</servlet-name>
        <url-pattern>/earnings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>countOwners</servlet-name>
        <url-pattern>/countOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>countKeepers</servlet-name>
        <url-pattern>/countKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOwner</servlet-name>
        <url-pattern>/EditOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwner</servlet-name>
        <url-pattern>/GetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoOwner</servlet-name>
        <url-pattern>/UserInfoOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatGPTQueryServlet</servlet-name>
        <url-pattern>/ChatGPTQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingServlet</servlet-name>
        <url-pattern>/ShowBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKeeperInfo</servlet-name>
        <url-pattern>/GetKeeperInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessagesServlet</servlet-name>
        <url-pattern>/GetMessagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessagesServlet</servlet-name>
        <url-pattern>/SendMessagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_pet</servlet-name>
        <url-pattern>/Get_pet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Put_pet</servlet-name>
        <url-pattern>/Put_pet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_pet</servlet-name>
        <url-pattern>/New_pet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Id_existance</servlet-name>
        <url-pattern>/Id_existance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_pet</servlet-name>
        <url-pattern>/Delete_pet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewKeepers</servlet-name>
        <url-pattern>/viewKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwnerId</servlet-name>
        <url-pattern>/GetOwnerId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOwner</servlet-name>
        <url-pattern>/deleteOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_keepers_with_owner_filters</servlet-name>
        <url-pattern>/show_keepers_with_owner_filters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find_ownerID</servlet-name>
        <url-pattern>/find_ownerID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find_pet_info</servlet-name>
        <url-pattern>/find_pet_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_booking</servlet-name>
        <url-pattern>/add_booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find_booking_id</servlet-name>
        <url-pattern>/find_booking_id</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingStatus</servlet-name>
        <url-pattern>/UpdateBookingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReviewsServlet</servlet-name>
        <url-pattern>/SendReviewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusOfkeeperId</servlet-name>
        <url-pattern>/StatusOfkeeperId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusOfkeeperIdServlet</servlet-name>
        <url-pattern>/StatusOfkeeperIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find_owner_lat_lon</servlet-name>
        <url-pattern>/find_owner_lat_lon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
